In [3]:
import pandas as pd

In [4]:
at2000 = pd.read_csv("../data/cleaned/attribute2000.csv")
at2001 = pd.read_csv("../data/cleaned/attribute2001.csv")
at2002 = pd.read_csv("../data/cleaned/attribute2002.csv")
at2003 = pd.read_csv("../data/cleaned/attribute2003.csv")
at2004 = pd.read_csv("../data/cleaned/attribute2004.csv")
at2005 = pd.read_csv("../data/cleaned/attribute2005.csv")
at2006 = pd.read_csv("../data/cleaned/attribute2006.csv")
at2007 = pd.read_csv("../data/cleaned/attribute2007.csv")
at2008 = pd.read_csv("../data/cleaned/attribute2008.csv")
at2009 = pd.read_csv("../data/cleaned/attribute2009.csv")
at2010 = pd.read_csv("../data/cleaned/attribute2010.csv")
at2011 = pd.read_csv("../data/cleaned/attribute2011.csv")
at2012 = pd.read_csv("../data/cleaned/attribute2012.csv")
at2013 = pd.read_csv("../data/cleaned/attribute2013.csv")
at2014 = pd.read_csv("../data/cleaned/attribute2014.csv")
at2015 = pd.read_csv("../data/cleaned/attribute2015.csv")
at2016 = pd.read_csv("../data/cleaned/attribute2016.csv")
at2017 = pd.read_csv("../data/cleaned/attribute2017.csv")
at2018 = pd.read_csv("../data/cleaned/attribute2018.csv")
at2019 = pd.read_csv("../data/cleaned/attribute2019.csv")
at2020 = pd.read_csv("../data/cleaned/attribute2020.csv")
node_fix = pd.read_csv("../data/cleaned/nodal_fixed.csv")

In [5]:
long = pd.concat([at2000, at2001, at2002, at2003, at2004, at2005, at2006, at2007, at2008,at2009, at2010, at2011, at2012, at2013, at2014, at2015, at2016, at2017, at2018, at2019, at2020], axis = 0)

In [6]:
long.head(2)

,Unnamed: 0,iso_o,sigma_cp,rank_cp,cp,country,TIME_PERIOD,LTE,internet,gdp_pct,...,D_log_gdp_pct,D_internet,landlocked,continent,lat,lon,langoff_1,colonizer1,category,development
0,1,ARG,394899959,40,0,Argentina,2000,0,7.040000,10631.65,...,-0.019252,3.76,0,America,-34.666668,-58.500,Spanish,ESP,Emerging and Developing Economies,0
1,2,AUS,982626724,24,0,Australia,2000,0,46.799999,45859.52,...,0.027021,6.00,0,Pacific,-35.299999,149.133,English,GBR,Advanced Economies,1

In [7]:
print(long['iso_o'].nunique())
print(long['TIME_PERIOD'].nunique())
print(long['TIME_PERIOD'].unique())

74
21
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020]

In [8]:
missing = long.isna().sum()
missing

Unnamed: 0         0
iso_o              0
sigma_cp           0
rank_cp            0
cp                 0
country            0
TIME_PERIOD        0
LTE                0
internet           0
gdp_pct            0
schooling          0
log_gdp_pct        0
D_log_gdp_pct      0
D_internet         0
landlocked         0
continent          0
lat                0
lon                0
langoff_1          0
colonizer1       420
category           0
development        0
dtype: int64

In [9]:
long = long.drop(columns = ['colonizer1', 'langoff_1'])

In [10]:
long_sorted = long.sort_values(['iso_o', 'country', 'TIME_PERIOD']).reset_index(drop= True)

In [16]:
long_sorted.to_csv("../data/cleaned/nodal_time_series.csv")

### RTA

In [ ]:
rta = pd.read_csv("../data/cleaned/rta_long.csv")

In [ ]:
rta

In [ ]:
print(rta['iso_o'].nunique())
print(rta['iso_d'].nunique())

In [ ]:
co2 = pd.read_csv("../data/cleaned/emission_trade2000_2020.csv")

In [ ]:
co2.head(3)

# merging RTA and co2

In [ ]:
co2 = co2.merge(rta, on = ['iso_o', 'iso_d', 'TIME_PERIOD'], how = 'left')

In [ ]:
co2 = co2.rename(columns = {'OBS_VALUE': 'co2'})

In [ ]:
assert set(co2['iso_o'].unique()) == set(long_sorted['iso_o'].unique())

In [ ]:
assert set(co2['TIME_PERIOD'].unique()) == set(long_sorted['TIME_PERIOD'].unique())

In [ ]:
long_sorted.shape

In [ ]:
co2.shape

In [ ]:
co2 = co2.reset_index(drop = True)

In [ ]:
(74*74-74)*21

In [ ]:
merged = co2.merge(long_sorted, on = ['iso_o', 'TIME_PERIOD'], how = 'left')

In [ ]:
merged.columns

In [ ]:
merged = merged.drop(columns= 'Unnamed: 0')

In [ ]:
merged = merged.drop(columns= ['category', 'lat', 'lon'])

In [ ]:
merged.head()

In [ ]:
country_list = co2['iso_o'].unique()
print(len(country_list))
years = list(range(2000, 2021))
panel_df = pd.MultiIndex.from_product([country_list, country_list, years], names=['iso_o', 'iso_d', 'TIME_PERIOD'])
panel_df_blank = panel_df.to_frame(index=False)

In [ ]:
panel_df_blank = panel_df_blank[panel_df_blank['iso_o'] != panel_df_blank['iso_d']]

In [ ]:
print(panel_df_blank['iso_o'].nunique())
print(panel_df_blank['iso_d'].nunique())
print(panel_df_blank['TIME_PERIOD'].nunique())
print(panel_df_blank.groupby(['iso_o','iso_d']).ngroups)

In [ ]:
(74*74-74)*21

In [ ]:
panel_df_blank.shape[0]

In [ ]:
co2_panel = panel_df_blank.merge(merged, on = ['iso_o', 'iso_d', 'TIME_PERIOD'], how = 'left')

In [ ]:
print(co2_panel['iso_o'].nunique())
print(co2_panel['iso_d'].nunique())
print(co2_panel['TIME_PERIOD'].nunique())
print(co2_panel.groupby(['iso_o','iso_d']).ngroups)

In [ ]:
co2_panel.head()

In [ ]:
partner_attributes = co2_panel.copy()

In [ ]:
partner_attributes

In [ ]:
partner_attributes = partner_attributes.drop(columns = ['iso_d', 'co2', 'rta'])

In [ ]:
partner_attributes = partner_attributes.rename(columns = {'iso_o': 'iso_d'})
partner_attributes = partner_attributes.rename(columns = {'country': 'country_d'})
partner_attributes = partner_attributes.rename(columns = {'gdp_pct': 'gdp_pct_d'})
partner_attributes = partner_attributes.rename(columns = {'log_gdp_pct': 'log_gdp_pct_d'})
partner_attributes = partner_attributes.rename(columns = {'D_log_gdp_pct': 'D_log_gdp_pct_d'})
partner_attributes = partner_attributes.rename(columns = {'internet': 'internet_d'})
partner_attributes = partner_attributes.rename(columns = {'D_internet': 'D_internet_d'})
partner_attributes = partner_attributes.rename(columns = {'schooling': 'schooling_d'})
partner_attributes = partner_attributes.rename(columns = {'LTE': 'LTE_d'})
partner_attributes = partner_attributes.rename(columns = {'sigma_cp': 'sigma_cp_d'})
partner_attributes = partner_attributes.rename(columns = {'rank_cp': 'rank_cp_d'})
partner_attributes = partner_attributes.rename(columns = {'cp': 'cp_d'})
partner_attributes = partner_attributes.rename(columns = {'landlocked': 'landlocked_d'})
partner_attributes = partner_attributes.rename(columns = {'continent': 'continent_d'})
partner_attributes = partner_attributes.rename(columns = {'development': 'development_d'})

In [ ]:
search_duplicate_row = ['iso_d', 'TIME_PERIOD']
partner_attributes_duplicate = partner_attributes.drop_duplicates(subset = search_duplicate_row,  keep = 'last')

In [ ]:
partner_attributes_duplicate

In [ ]:
panel = co2_panel.merge(partner_attributes_duplicate, on = ['iso_d', 'TIME_PERIOD'], how = 'left')

In [ ]:
panel.columns

In [ ]:
panel= panel.reset_index(drop=True)

In [ ]:
panel.shape

In [ ]:
panel.head(10)

In [ ]:
panel.to_csv("../data/cleaned/panel.csv", encoding = 'utf-8', index = False)